.fss,.fss-solid,.particles{position:absolute;top:0;left:0;width:100vw!important;height:100%;overflow:hidden}.particles{opacity:.5}
.university .hm-gradient .full-bg-img {
	background: -webkit-linear-gradient(45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7) 100%);
	background: -webkit-gradient(linear, 45deg, from(rgba(29, 236, 197, 0.7)), to(rgba(91, 14, 214, 0.7)));
	background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7) 100%); 
}

.university .hm-gradient .mask {
	background: -webkit-linear-gradient(45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7) 100%);
	background: -webkit-gradient(linear, 45deg, from(rgba(29, 236, 197, 0.7)), to(rgba(91, 14, 214, 0.7)));
	background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7) 100%); 
}

.university .navbar {
	background-color: #1d4870; 
}
.university .navbar:not(.top-nav-collapse) {
	background-color: transparent; 
}
@media (max-width: 768px) {
	.university .navbar:not(.top-nav-collapse) {
		background: #243a51; 
	} 
}
@media (min-width: 769px) {
	.university .navbar:not(.top-nav-collapse) {
		-webkit-box-shadow: none;
		box-shadow: none; 
	} 
}
.university .page-footer {
	background-color: #243a51; 
}
#login-modal .md-form {
	margin-bottom: 1.2rem;
}
#login-modal .md-form label {
	top: .6rem
}
#login-modal .md-form label.active {
	transform: translateY(-120%);
}